<!DOCTYPE html>
<html lang="en">
<head data-gincb="{{gin.cacheBuster}}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113364681-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-113364681-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{gin.site.description}}">
  <link rel="canonical" href="{{url()}}">
  <link rel="shortcut icon" href="{{asset('img/favicon.png')}}">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
  <!--
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
  -->
  <!--<link rel="stylesheet" href="/static/css/main.css">-->
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  {{ head() | safe }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Brand",
      "logo": "https://lambomoon.club/img/lambomoon-500x149.png",
      "name": "{{gin.site.name}}",
      "description": "{{gin.site.description}}",
      "url": "https://intertrader.online"
    }
  </script>
</head>
<body>
<header class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="{{content.url}}">{{gin.site.name}}</a>
          </h1>
          <h2 class="subtitle">{{gin.site.tagline}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-down">
    <a href="/#what-does-it-do">
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
</header>
<section class="section" id="what-does-it-do">
  <div class="container">
    <section id="primary-content" class="content">
      <div class="columns is-centered">
        {% block content %}{% endblock%}
      </div>
    </section>
  </div>
</section>
<section class="hero is-fullheight" id="download">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title has-text-centered">
            <a href="https://play.google.com/store/apps/details?id=club.lambomoon.intertrader">
              Do more with your crypto — Get the app on Google Play
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer has-text-centered">
  {{ nav("footer") | safe }}
  {% block foot %}
  {% endblock%}
</footer>
</body>
</html>
