<!DOCTYPE html>
<html lang="en">
<head data-gincb="{{gin.cacheBuster}}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113364681-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-113364681-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{gin.site.description}}">
  <link rel="canonical" href="{{url()}}">
  <link rel="shortcut icon" href="{{asset('img/favicon.png')}}">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  {{ head() | safe }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Brand",
      "logo": "https://lambomoon.club/img/lambomoon-500x149.png",
      "name": "{{gin.site.name}}",
      "description": "{{gin.site.description}}",
      "url": "https://intertrader.online"
    }
  </script>
</head>
<body>
<article>
  <header class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-10 is-8-tablet is-6-desktop">
            <h1 class="title">
              <a href="{{content.url}}">{{content.title}}</a>
            </h1>
            {% if content.subtitle %} 
            <h2 class="subtitle">{{content.subtitle}}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-9-desktop">
          <div id="primary-content" class="content">
            {% block content %} Nothing to see here {% endblock %}
          </div>
        </div>
        <div id="gin-nav-tree" class="column is-3">
          {{ nav("tree") | safe }}
        </div>
      </div>
    </div>
  </section>
</article>
<footer class="footer has-text-centered">
  {{ nav("footer") | safe }}
  {% block foot %}
  {% endblock%}
</footer>
</body>
</html>
